html{
    background-color: black;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}

div{
    
}
.div1{
    padding: 50px 0px 0px 0px;
}

.div2{
    color: white;
    
}

.div3{
    color: white;
}